anjana==1.1.0
basedpyright==1.29.2
beartype==0.19.0
chardet==5.2.0
click==8.2.1
docutils==0.21.2
markdown-it-py==3.0.0
mdurl==0.1.2
nodejs-wheel-binaries==22.16.0
numpy==2.0.2
pandas==2.2.2
pillow==11.2.1
pycanon==1.0.3
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.2.5
rich==14.0.0
shellingham==1.5.4
six==1.17.0
tabulate==0.8.10
typer==0.15.1
typing_extensions==4.12.2
tzdata==2025.2
